$primary: #ffffff;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.container {
  display: flex;
  justify-content: center;
}
.box {
  background-color: #ffffff;
  height: 90%;
  box-sizing: border-box;
  border-color: #000000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5em;
  box-shadow: 10px 10px 8px #d3d3d3;
  border: 2px solid #d3d3d3;
}
.h1 {
  font-family: Verdana;
  font-size: 24px;
}
.p {
  font-family: Verdana;
  font-size: 14px;
}

.custombutton {
  justify-content: start;
  display: grid;
}

.customnav {
  background-color: #218380;
  background-color: #218380;
  color: #218380;
}

.nav-justified {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  width: 100%;
  flex: 1 1 auto;
  text-align: center;
}
.nav button {
  background: #218380;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #218380;
  margin-left: 10px;
}
